*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width:100%;
    background: linear-gradient(rgb(202, 77, 171),rgb(226, 185, 236));
}

.cube{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    height: 300px;
    width: 300px;
}

.cube div{
    position: absolute;
    top:0;
    left: 0;
    
}